/* global styles */
body {
    background-color: #e8dcca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

/* mobile */

main{
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactForm{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-direction: column;
    gap: 2rem;
}

.contactForm div{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

h1{
    font-size: 20px;
}

ul p{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form button{
   background-color: #eed9c4;
   border: none;
   padding: 0.5rem;
   border-radius: 5px;
   cursor: pointer;
}

form button:hover{
    background-color:#c7b7a6 ;
}

.contactTable {
  width: 100%;
  border-collapse: collapse;
}

.contactTable th,
.contactTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.contactTable th {
  background-color: #f4f4f4;
}

.table-wrapper {
  overflow-x: auto;
}

.contactList button{
    background-color: rgb(241, 216, 216);
    border: 2px solid red;
    cursor: pointer;
}

.contactList tr td:nth-of-type(4){
    border: none;
}

/* desktop */

@media (min-width: 1024px){
    *{
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }

    .contactForm{
        flex-direction: row;
        align-items: center;
    }

    main{
        align-items: baseline;
    }

    thead tr{
        display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-top: 1rem;
    }

     thead tr th{
        width: 330px;
     }

     .contactList tr td:nth-of-type(1),  .contactList tr td:nth-of-type(2),  .contactList tr td:nth-of-type(3){
         width: 330px;
     }

    .contactList tr{
     display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-top: 1rem;
}


    form button{
        margin-top: 1rem;
    }

}